<%- include("../partials/header.ejs") %>


<% if(currentUser && currentUser.isAdmin){ %>
	<h1 class="text-center">Admin</h1>
<% } %>

<div class="container">

	<h3 class="title mt-5 mb-5">All items</h3>


<div class="row">
	<% items.forEach(function(item){  %>	
	
		<div class="col-lg-4 col-md-6 mb-5">
			<div class="card text-center">
         	<img class="card-img-top" src="<%= item.image %>" alt="Card image cap">
            <div class="card-body">
            	<h5 class="card-title"><%= item.name %></h5>
					<% if (item.rating === 0) { %>
                    <em>No reviews yet.</em><br>
                    <% } else { %>
									<div>
										<% if (item.rating > 0 && item.rating < 1.5) { %>
											<%- '<span class="fa fa-star checkedred"></span>'.repeat(1) %><%- '<span class="far fa-star"></span>'.repeat(4) %>
										<% } else if(item.rating > 1.5 && item.rating < 2.5) {%>
											<%- '<span class="fa fa-star checkedred"></span>'.repeat(2) %><%- '<span class="far fa-star"></span>'.repeat(3) %>
										<% } else if(item.rating > 2.5 && item.rating < 3.5) {%>
											<%- '<span class="fa fa-star checkedorange"></span>'.repeat(3) %><%- '<span class="far fa-star"></span>'.repeat(2) %>
										<% } else if(item.rating > 3.5 && item.rating <= 4){%>
										<%- '<span class="fa fa-star checkedgreen"></span>'.repeat(4) %><%- '<span class="far fa-star"></span>'.repeat(1) %>
										<% } else {%>
											<%- '<span class="fa fa-star checkedgreen"></span>'.repeat(5) %>
										<% } %>
									</div>
							<% } %>
               <a href="/items/<%= item.slug %>" class="btn btn-primary mt-3">More Info <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle mb-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
  <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
</svg></a>
            </div>
         </div>
    	</div>	
	
	<%  }) %>
</div>

<%- include("../partials/footer.ejs") %>